/.DS_Store
/25 skeleton joint.webp
/Correct_postures
/RNN Model accuracy with imbalanced data.png
/RNN loss with imbalanced data.png
/configs
/data description.html
/data description_files
/distribution.png
/incorrect_postures
/reformed.csv
/sample of the 9 movements .png
/stats
/validation.png
/variablility.png